@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.writing__textfield{
    font-family: 'Noto Sans', sans-serif;
    display: block;
    width: 590px;
    height: 129px;
    resize: none;
    padding: 10px;
    margin: 20px;
    box-sizing: border-box;
    line-height: 19px;
    border: 1px solid #f1f3f5;
    border-radius: 4px;
    appearance: none;
    overflow: auto; /* Fix for IE 11 */
    outline: none;
}

/* В кнопке используется шрифт Proxima Nova, но он платный. Гуглил, бесплатный не нашёл */
.writing__button{
    appearance: none;
    padding: 10px 22px;
    margin: 20px;
    margin-top: 0;
    border: none;
    border-radius: 21px;
    background-color: #0f54b9;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}