@media(min-width: 480px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        grid-auto-rows: minmax(155px, auto);
        -ms-grid-rows: 405px 10px 155px 10px 155px 10px 210px 10px 210px 10px 155px 10px 155px;
    }
    .genius-block{
        grid-column: 1/4;
        grid-row: 1/4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
    }
    .genius{
        height: 100%;
    }
    .our-employees{
        grid-column: 1/2;
        grid-row: 4/5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
    }
    .enlightens{
        grid-column: 2/3;
        grid-row: 4/5;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
    }
    .introjection{
        grid-column: 3/4;
        grid-row: 4/5;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
    }
    .conformism{
        grid-column: 1/3;
        grid-row: 5/6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
    }
    .our-employees-two{
        grid-column: 3/4;
        grid-row: 5/6;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
    }
    .modern, .characters{
        background-color: #e3ebd3;
    }
    .modern{
        grid-column: 1/2;
        grid-row: 6/8;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
    }
    .ship{
        grid-column: 1/2;
        grid-row: 8/10;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 9;
        -ms-grid-row-span: 1;
        background-image: url(../../assets/block/ship.png);
        background-size: cover;
    }
    .characters{
        display: inline-block;
        grid-column: 2/4;
        grid-row: 6/10;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        -ms-grid-row: 7;
        -ms-grid-row-span: 3;
    }
    .characters__lastname, .characters__firstname,
    .characters__polisnumber, .characters__birthday,
    .characters__phone{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        box-sizing: border-box;
    }
    .characters__lastname span:first-of-type, .characters__firstname span:first-of-type,
    .characters__polisnumber span:first-of-type, .characters__birthday span:first-of-type,
    .characters__phone span:first-of-type{
        overflow: hidden;
    }
    .characters__lastname span:first-of-type::after, .characters__firstname span:first-of-type::after,
    .characters__polisnumber span:first-of-type::after, .characters__birthday span:first-of-type::after,
    .characters__phone span:first-of-type::after{
        content: '.................................................................................................................';
    }
    .leadership{
        grid-column: 1/2;
        grid-row: 10/11;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 11;
        -ms-grid-row-span: 1;
    }
    .but{
        grid-column: 2/4;
        grid-row: 10/11;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
        -ms-grid-row: 11;
        -ms-grid-row-span: 1;
    }
    .incredible-genius{
        grid-column: 1/2;
        grid-row: 11/12;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 13;
        -ms-grid-row-span: 1;
    }
    .inflection-point{
        grid-column: 2/3;
        grid-row: 11/12;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 13;
        -ms-grid-row-span: 1;
    } 
    .vector-length{
        grid-column: 3/4;
        grid-row: 11/12;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        -ms-grid-row: 13;
        -ms-grid-row-span: 1;
    }
}